:root {
  --bs-primary: #ff5722; /* custom orange */
  --bs-secondary: #8e44ad; /* purple */
  --bs-font-sans-serif: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--bs-font-sans-serif);
}
